.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:7.2rem;
  padding-top: 45px;
  padding-bottom: 45px;
}
.navbar__menu{
  display: flex;
  gap:15px;
  list-style: none;
  font-size: 2rem;
  font-weight: 500;
}
.navbar__menu a{
  text-decoration: none;
  color:#000000;
}
.navbar__menu a:hover{
  color:#F4CE14;
}
