/* <weight>: Use a value from 200 to 800(karla) , 400-700(markazi)
<uniquifier>: Use a unique and descriptive class name */

.karla-400 {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.markazi-text-400{
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

body{
  font-family: "Karla", serif;
  font-weight: ;
}